<a href="#" class="gift_card">
    <picture class="gift_card__pic">
        {% comment %} <img src="" alt="" class="gift_card__img"> {% endcomment %}
    </picture>
    <div class="gift_card__content">
        <div class="gift_card__title">Title</div>
        <div class="gift_card__description">Descrip</div>
        <div class="gift_card__icon_wrap">
            {% render 'link-arrow' %}   
        </div>
    </div>
</a>