<div class="link_arrow">
    <div class="link_arrow__icon">
        <svg viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1870_2102)">
            <path d="M28.5004 11.6625C28.5004 11.2426 28.3336 10.8398 28.0366 10.5429C27.7397 10.246 27.337 10.0792 26.9171 10.0792L14.2504 10C13.8305 10 13.4277 10.1668 13.1308 10.4637C12.8339 10.7607 12.6671 11.1634 12.6671 11.5833C12.6671 12.0033 12.8339 12.406 13.1308 12.7029C13.4277 12.9999 13.8305 13.1667 14.2504 13.1667H23.0537L9.95956 26.2925C9.81115 26.4397 9.69336 26.6148 9.61298 26.8078C9.5326 27.0007 9.49121 27.2076 9.49121 27.4167C9.49121 27.6257 9.5326 27.8326 9.61298 28.0256C9.69336 28.2185 9.81115 28.3936 9.95956 28.5408C10.1067 28.6892 10.2819 28.807 10.4748 28.8874C10.6678 28.9678 10.8747 29.0092 11.0837 29.0092C11.2927 29.0092 11.4997 28.9678 11.6926 28.8874C11.8856 28.807 12.0607 28.6892 12.2079 28.5408L25.3337 15.415V24.25C25.3337 24.6699 25.5005 25.0727 25.7975 25.3696C26.0944 25.6665 26.4971 25.8333 26.9171 25.8333C27.337 25.8333 27.7397 25.6665 28.0366 25.3696C28.3336 25.0727 28.5004 24.6699 28.5004 24.25V11.6625Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0_1870_2102">
            <rect width="38" height="38" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
        </svg>
    </div>
</div>

<style>
    .link_arrow {
        width: 5.8rem;
        height: 5.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
    }

    .link_arrow__icon {
        width: 3.8rem;
        height: 3.8rem;
        color: red;
    }
</style>

