/* ==================================================== FONTS =================================================== */
$font_1: 'Roboto', sans-serif;
$fontSizeBase: 16px;
/* ==================================================== LAYOUT =================================================== */
$pageWidth: 80rem;

/* ==================================================== ADAPTIVE =================================================== */
// $mobileSM:                                        380px;
$mobile:                                          576px;
$tablet:                                          768px;
$tabletXL:                                        992px;

$laptop:                                         1200px;
$laptopXL:                                       1300px;
$desktop:                                        1400px;
// $desktopXL:                                      1499px;
// $desktopXXL:                                     1599px;
/* ==================================================== LAYOUTS ==================================================== */
$article-wrapper:                                 896px;
$small-wrapper:                                  1130px;
$second-wrapper:                                 1360px;
$main-wrapper:                                   1680px;
/* ===================================================== COLORS ==================================================== */
$white:                                 #FFFFFF;

$orange-color:                                #ECB22D;

$bg-color: $white;
/* ===================================================== RGBA ====================================================== */

